{% extends 'main/base.html' %}

{% block content %}
<div>
    <div class="payload">
        <h1>There are all authors</h1>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Author name</th>
                <th scope="col">Author email</th>
                <th scope="col">Quantity of authors book</th>
            </tr>
            </thead>
            <tbody>
            {% for author in data %}
            <tr>
                <td>{{ author.name }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.books.count }}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <form action="{% url 'post_delete' post_id=pst.id %}" method="POST">
            {% csrf_token %}
            <button class="btn">Delete</button>
    </div>
</div>

{% endblock %}
