{% extends 'main/base.html' %}

{% block content %}
<div>
    <div class="payload">
        <h1>Books</h1>


        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
            </tr>
            </thead>
            <tbody>
            {% for book in data %}
            <tr>
                <th scope="row">{{ book.title }}</th>
                <td>{{ book.author }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
