<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <style>
   p {
    border: 1px solid red;
    padding: 10px;
   }
   h1 {
    font-size: 200%; /* Размер шрифта */
    border-bottom: 2px solid blue; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
   }

  </style>
</head>
<body>


<nav>
    <ul>
        <li><a href="{% url 'about_page'   %}">Read smth ABOUT</a></li>
        <li><a href="{% url 'home_page'   %}">Return home/main</a> </li>
        <li><a href="{% url 'posts_page'   %}">See all posts</a> </li>
        <li><a href="{% url 'post_create'   %}">Create a new one</a> </li>
        <li><a href="{% url 'api_posts'   %}">Print all out posts via json format</a> </li>
        <li><a href="{% url 'api_subscribe'   %}">Subscribe to author</a> </li>
        <li><a href="{% url 'all_subs'   %}">All information about subscribers</a> </li>
        <li><a href="{% url 'all_authors'   %}">All authors</a> </li>
        <li><a href="{% url 'author_generate'   %}">Generate an author</a> </li>

    </ul>
    
</nav>


{% block content %}{% endblock %}

</body>
</html>
