<!doctype html>
<html lang="en">
<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>{% block title %}{% endblock %}</title>


    <style>


   p {
    border: 1px solid red;
    padding: 10px;
   }
   h1 {
    font-size: 200%; /* Размер шрифта */
    border-bottom: 2px solid blue; /* Параметры линии под текстом */
    font-weight: normal; /* Убираем жирное начертание */
    padding-bottom: 5px; /* Расстояние от текста до линии */
   }


    </style>
</head>
<body>


<nav>
    <ul>
        <li><a href="{% url 'about_page'   %}">About company</a></li>
        <li><a href="{% url 'home_page'   %}">Main</a></li>
        <li><a href="{% url 'posts_page'   %}">All posts</a></li>
        <li><a href="{% url 'post_create'   %}">Create post</a></li>

        <li><a href="{% url 'api_subscribe'   %}">Subscribe to author</a></li>

        <li><a href="{% url 'all_subs'   %}">All information about subscribers</a></li>
        <li><a href="{% url 'all_authors'   %}">All authors</a></li>
        <li><a href="{% url 'create_author'   %}">Generate an author</a></li>


    </ul>

</nav>


{% block content %}{% endblock %}

</body>
</html>
