{% extends 'main/base.html' %}


{% block title %}Dmytro | Post #{% endblock %}
{% block content %}

<div class="container">
    <h1>Post</h1>
</div>
<div class="payload">
    <h2>{{ pst.title }}</h2>

    <p1>{{ pst.description }} <br>
    </p1>

    <p>{{ pst.content }} <br>
    </p>

    <h1> Comments </h1><br><br>

    {% for cmt in cmts %}
    <h2><a>name: {{ cmt.name }}</a><br></h2>
    <a>comment: {{ cmt.body }}</a><br><br>
    {% endfor %}


    <form method="POST">
        {% csrf_token %}
        {{form.name}}
        {{form.body}}
        <button class="btn btn-success">Save</button>
    </form>


    <form action="{% url 'post_delete' post_id=pst.id %}" method="POST">
       {% csrf_token %}
       <button class="btn">Delete</button>
</form>



    <div class="update_link">
        <a href="{% url 'post_update' post_id=pst.id %}">Edit post</a>
    </div>

    <p1><a href="{% url 'post_lists' %}">All posts</a></p1>
</div>


</div>


{% endblock %}
