{% extends 'main/base.html' %}


{% block title %}Dmytro | Editing post{% endblock %}
{% block content %}

<div class="container">
    <h1>Editing post</h1>

    <div class="error">
        {{ err }}
    </div>
    <div class="payload">
        <form method="POST">
            {% csrf_token %}

            {{ form.title }}
            {{ form.description }}
            {{ form.content }}
            <button class="btn btn-success">Save</button>
        </form>


    </div>


</div>


{% endblock %}
